html, body {
  margin: 0;
  padding: 0;
  top: 0;
  background: url("spbg.jpg");
  background-size: cover;

}

canvas{
  display:block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  }

h1{
  text-align: center;
   font-style: italic;
   color: white;
   font-size: 40px;

}
